.page {
  margin: 0 auto !important;

  background: #e8e8e8;
  padding: 25px 20px;
  color: #666;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;



  /*======================
    SECTION HEADER
  ========================*/
  .header-heading {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0px;
  }

  .header-heading .first-word {
    color: #666666;
  }

  .header-heading .second-word {
    color: #f24b11;
  }

  .header-image {
    padding: 15px 0px;
  }
  .header-icon {
    display: table-cell;
    margin: 0 auto;
    align: center;
  }

  .header-content {
    padding: 10px 10px;
    font-weight: 300;
    font-size: 14px;
  }

  .header-content li {
    padding: 7px 0px;
  }

  /*======================
      MCQ TYPE
  ========================*/

  .mcq-question {
    font-size: 18px;
    text-align: justify;
    padding: 10px 15px;
  }


  #rendered_question {
    white-space: pre-wrap;
  }

  .choice-span {
    white-space: pre-wrap;
  }
}
