<div class="row">
  <div class="col-lg-12" style="margin-bottom: 1em;">
    <%= form.text_area :choices, class: 'form-control', cols: 43, rows: 3,
                       data: {'richtext': 'false', 'options': {}} %>
  </div>
  <div class="col-lg-12">
    <div class="page">
      <div class="row">
        <div id="options">
          <div class="mcq-answer-box">
            <ul id="rendered_choices">
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>